#header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
#header__title a {
  font-family: 'Notable', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 50px;
}
#header__menu {
  text-align: right;
}
#header__menu a {
  font-family: 'Gothic A1', sans-serif;
  text-decoration: none;
  color: black;
  padding: 8px 6px;
  line-height: 70px;
}
#header__menu a:hover {
  color: gray;
}
