#red__title {
  color: #f44336;
  font-weight: bold;
  margin-top: 60px;
}
#input__info {
  margin-top: 20px;
  font-family: 'Sunflower', sans-serif;
}
#login__btn {
  background-color: black;
  color: white;
  margin-top: 8px;
}
#login__btn:hover {
  background-color: #f44336;
}
#signup__btn {
  background-color: white;
  margin-top: 8px;
}
#find__id__password a {
  margin-top: 15px;
  text-decoration: none;
  color: grey;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
}
#find__id__password {
  text-align: right;
  border-bottom: thin solid #e0e0e0;
  line-height: 65px;
}
#sns__login {
  margin-top: 40px;
  text-align: center;
}
#sns__btn {
  padding-top: 15px;
}
#facebook__btn {
  background-color: #1565c0;
  color: white;
}
#facebook__btn i {
  font-size: 30px;
  padding-right: 7px;
}
#google__btn {
  background-color: white;
  color: grey;
}
#google__btn i {
  font-size: 30px;
  padding-right: 7px;
  color: #4caf50;
}
#kakao__btn {
  margin-top: 10px;
  background-color: #ffee58;
  color: #c2c2c2;
}
#kakao__btn i {
  font-size: 30px;
  padding-right: 7px;
  color: #c2c2c2;
}
