#signup {
  font-family: 'Gothic A1', sans-serif;
}
#signup__title {
  margin-top: 50px;
}
#signup__stepper {
  margin-top: 20px;
}
#signup__verification, #signup__personal__information {
  margin-top: 20px;
  border-bottom: thin solid #bdbdbd;
  padding-bottom: 20px;
}
#phone__verification, #agree__next__btn {
  text-align: center;
  margin-top: 30px;
}
